@model IEnumerable<WebsiteSonGaming.Models.DONHANG>

@{
    ViewBag.Title = "Giao Vận";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Quản Lý Đơn Hàng</li>
        <li class="breadcrumb-item active">Giao Vận</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <h4>GIAO VẬN</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            Mã hóa đơn
                        </th>
                        <th>
                            Tên khách hàng
                        </th>
                        <th>
                            Ngày đặt
                        </th>
                        <th></th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.mahoadon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tenkhachhang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ngaydat)
                            </td>

                            <td>
                                @Html.ActionLink("Chi Tiết", "ChiTietDonHang", new { id = item.mahoadon })
                            </td>
                            <td>
                                @Html.ActionLink("Xóa", "XoaDonHang", new { id = item.mahoadon })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>