@model WebsiteSonGaming.Models.SANPHAM

@{
    ViewBag.Title = "ThemMoiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



@using (Html.BeginForm("ThemMoiSanPham", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <h4>Trang Sửa Sản Phẩm</h4>
    <hr />

    <div class="offset-1">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.masanpham)

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.tensanpham):</label>
            <div class="col-sm-5">
                @Html.EditorFor(model => model.tensanpham)
            </div>
            <div class="col-sm-5">
                @Html.ValidationMessageFor(model => model.tensanpham)
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.mansx, "Nhà Sản Xuất"):</label>
            <div class="col-sm-5">
                @Html.DropDownList("MaNsx")
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.maloai, "Loại Sản Phẩm"):</label>
            <div class="col-sm-5">
                @Html.DropDownList("MaLoai")
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.giaban):</label>
            <div class="col-sm-2">
                @Html.EditorFor(model => model.giaban)
            </div>
            <div class="col-sm-5">
                @Html.ValidationMessageFor(model => model.giaban)
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.ngaycapnhat):</label>
            <div class="col-sm-3">
                @Html.EditorFor(model=>model.ngaycapnhat)
            </div>
            <div class="col-sm-5">
                @Html.ValidationMessageFor(model => model.ngaycapnhat)
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.hinhsanpham):</label>
            <div class="col-sm-5">
                <input type="file" name="fileUpload" class="form-control" />
            </div>
            <div class="col-sm-5">
                @*thong bao trung*@
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">@Html.LabelFor(model => model.thongtin):</label>
            <div class="col-sm-5">
                @Html.EditorFor(model=>model.thongtin)
            </div>
        </div>

        <div class="form-group">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-dark" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
