@model WebsiteSonGaming.Models.KHACHHANG

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style>
    #FormDangNhap a {
        color: black;
    }
</style>
@using (Html.BeginForm("DangKy", "TaiKhoan", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <form id="FormDangNhap">
        <h4>Trang Đăng Ký</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group row">
            @Html.LabelFor(model => model.tenkhachhang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenkhachhang, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tenkhachhang)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.taikhoan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.taikhoan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.taikhoan)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.matkhau, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.matkhau, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.matkhau)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.sodienthoai, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sodienthoai, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sodienthoai)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.diachi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.diachi, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.diachi)
            </div>
        </div>

        <div class="form-group row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Đăng Ký" class="btn btn-dark" />
            </div>
        </div>


    </form>
}
<div class="form-group row">
    @using (Html.BeginForm("Index", "TrangChu"))
    {
        <input type="submit" value="Thoát" class="btn btn-dark" />
    }
</div>
