@model IEnumerable<WebsiteSonGaming.Models.GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Thông tin Giỏ hàng</h2>

<table class="table" style="text-align:center;border:1px solid;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().imasanpham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().strtensanpham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().strhinhsanpham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().isoluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().dgiaban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().dthanhtien)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.imasanpham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strtensanpham)
            </td>
            <td>
                <img style="height:100px;width:100px;overflow:hidden;" src="~/Assets/Images/HinhSanPham/@item.strhinhsanpham" />
            </td>
            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @imasanpham = item.imasanpham }))
            {
                <td>
                    <input type="number" name="txtSoLuong" value="@item.isoluong" style="width:40px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dgiaban)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dthanhtien)
                </td>
                <td>
                    <input type="submit" value="Cập Nhật" class="btn btn-dark" />
                </td>
            }
            <td>
                <a href="@Url.Action("XoaGioHang","GioHang",new {imasanpham = item.imasanpham })">
                    <input type="submit" class="btn btn-dark" value="Xóa" />
                </a>
            </td>
        </tr>
    }

</table>

<a href="@Url.Action("Index","TrangChu")">
    <input type="submit" class="btn btn-dark" value="Tiếp tục mua hàng" />
</a>

<a href="@Url.Action("XoaTatCaGioHang","GioHang")">
    <input type="submit" class="btn btn-dark" value="Xóa Tất Cả Giỏ Hàng" />
</a>

<a href="@Url.Action("MuaHang","GioHang")">
    <input type="submit" class="btn btn-dark" value="Thanh Toán" />
</a>