@model List<WebsiteSonGaming.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-lg-10">
    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid" alt="First slide" src="~/Images/Banner/1920x500_Logitech_Best_Deals.jpg" />
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" alt="Second slide" src="~/Images/Banner/1920x500_SI_U_KHUY_N_M_I_C_U_H_NH_RYZEN.jpg" />
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" alt="Third slide" src="~/Images/Banner/1920x500x2_GI_M_TH_M_500.000_KHI_MUA_LAPTOP_2_TRONG_1-min.jpg" />
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4" id="SanPham">
                <div class="card h-100">
                    <a href="@Url.Action("ChiTiet","TrangChu",new { @id = item.masanpham})"><img class="card-img-top" src="~/Images/HinhSanPham/@item.hinhsanpham" alt="@item.tensanpham" /></a>
                    <div class="card-body">
                        @*//Tên sản phẩm*@
                        @if (item.tensanpham.Length > 25)
                        {
                            <h4 class="card-title"><a href="@Url.Action("ChiTiet","TrangChu",new { @id = item.masanpham})">@item.tensanpham.Substring(0, 25)...</a></h4>
                        }
                        else
                        {
                            <h4 class="card-title"><a href="@Url.Action("ChiTiet","TrangChu",new { @id = item.masanpham})">@item.tensanpham</a></h4>
                        }

                        @*//Mô tả sản phẩm*@
                        @if (item.thongtin.Length > 150)
                        {
                            <p class="card-text">@item.thongtin.Substring(0,150)...</p>
                        }
                        else
                        {
                            <p class="card-text">@item.thongtin</p>
                        }
                    </div>
                    <div class="card-footer">
                        <h5>@String.Format("{0:0,0}", @item.giaban) VND </h5>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /.row -->
</div>

