@using WebsiteSonGaming.Models
@using PagedList.Mvc;
@model PagedList.PagedList<WebsiteSonGaming.Models.SANPHAM>
@{
    ViewBag.Title = "QuanLySanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@helper Truncate(string input, int length)
    {
        if (input.Length < length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)<text>...</text>
        }
}

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Quản Lý Sản Phẩm</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <a href="@Url.Action("ThemMoiSanPham","Admin")">
                <input type="submit" class="btn btn-dark" value="Thêm Sản Phẩm" />
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Mã</th>
                            <th>Tên Sản Phẩm</th>
                            <th>Giá Bán</th>
                            <th>NSX</th>
                            <th>Loại</th>
                            <th>Hình</th>
                            <th>Thông Tin</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.masanpham)</td>
                                <td>@Html.DisplayFor(modelItem => item.tensanpham)</td>
                                <td>@Html.DisplayFor(modelItem => item.giaban)</td>
                                <td>@Html.DisplayFor(modelItem => item.NHASANXUAT.tennsx)</td>
                                <td>@Html.DisplayFor(modelItem => item.LOAISANPHAM.tenloai)</td>
                                <td><img src="@Url.Content("~/Images/HinhSanPham/"+  item.hinhsanpham)" style="width:100px;height:100px;overflow:hidden;" /></td>
                                <td>@Truncate(item.thongtin, 100)</td>
                                <td>
                                    <a href="@Url.Action("SuaSanPham","Admin",new { id = item.masanpham})">
                                        <input type="submit" class="btn btn-dark" value="Sửa" />
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("ChiTietSanPham","Admin",new { id = item.masanpham})">
                                        <input type="submit" class="btn btn-dark" value="Chi Tiết" />
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("XoaSanPham","Admin",new { id = item.masanpham})">
                                        <input type="submit" class="btn btn-dark" value="Xóa" />
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">
            @* Tao liên kết các trang  *@
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                <div class="MenuTrang">
                    <style>
                    .MenuTrang li {
                        display: inline;
                    }
                        .MenuTrang ul {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;
                            overflow: hidden; /*background-color: #333;*/
                        }

                        .MenuTrang li {
                            float: left;
                            border-right: 1px solid #bbb;
                        }

                        .MenuTrang li:last-child {
                            border-right: none;
                        }

                        .MenuTrang li a {
                            display: block;
                            color: Black;
                            padding: 10px 10px;
                            text-decoration: none;
                        }

                            .MenuTrang li a:hover:not(.active) {
                                background-color: dodgerblue;
                            }

                        .MenuTrang .active {
                            background-color: dodgerblue;
                        }
                </style>
                    @Html.PagedListPager(Model, page => Url.Action("QuanLySanPham", new { page = page }))
                </div>
                
            </div>
    </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Hồ Sĩ An Sơn-MSSV:1511061316-Khoa CNTT- HUTECH</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

